* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.principal{
    width: 70%;
    margin: 0 auto;
    /*padding-left: 10rem;
    padding-right: 10rem;*/
}
.btn-menu {
    display: none;
}

header {
    
    display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
}

header h1 {
    font-size: 28px;
    font-weight: 600;
}

.bar {
    background-color: #3054f2;
    width: 55px;
    height: 8px;
    border-radius: 10px;
    margin-top: -15px;
}

header a {
    font-size: 18px;
    text-decoration: none;
}

header img {
    border-radius: 50%;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

nav a {
    margin-right: 28px;
    color: #3d3f40;
    font-weight: 600;
}

nav a:hover {
    color:#3054f2;
}

main {
    padding: 2rem;
    background-color: #d2eafc;
}

main h1 {
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    font-size: 48px;
}

main p {
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 22px;
    font-weight: 300;
}
main p a{
    text-decoration: none;
    color: #3054f2;
}

.skills {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #d2eafc;

}

.skills-header {
    display: flex;
    justify-content: center;
}

.skills-header h1 {
    font-size: 40px;
}

.skills-header img {
    margin-right: 10px;
    margin-top: -14px;
}
li {
   margin-top: 35px; 
   font-size: 25px;
   text-align: center;
   list-style: none;
}

.btn {
    display: flex;
    justify-content: center;
}
#cv {
    padding: 1rem;
    margin: 2rem;
    background-color: #c3e2fa;
    border-radius: 10px;
    width: 175px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

hr {
    margin-bottom: 25px;
}
footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px
}

.left a {
    text-decoration: none;
    color: #3054f2;
}

.left h3{
    margin-bottom: 10px;
}

.right {
    display: flex;
}

.right img {
    margin-left: 12px;
}

.nav-tlf-principal {
    display: none;
}

/*Projects*/

.projects-title {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.projects-title h1 {
    font-size: 50px;
    font-weight: 400;
}

.projects-title p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: column;
}
.projects-description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects-description p {
    font-size: 25px;
    margin: 2rem;
}
.projects h2 {
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
    text-decoration-color: #3054f2;
    font-size: 30px;
}

.btn-projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-projects button {
    padding: 1rem;
    background-color: #c3e2fa;
    border-radius: 10px;
    width: 175px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin-bottom: 3rem;
}

.note {
    font-size: 16px;
   
    margin-bottom: 3rem;
}

/*Contact Me*/


.contact {
    margin: 1rem;
}

.contact h1 {
    font-size: 50px;
    font-weight: 400;
}

.contact p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: #d2eafc;*/
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.contact-form span {
    color: red;
}

.form-row {
   display: flex;
   justify-content: space-between
}

form{
    width: 650px;
}
form label {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
}

form input {
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 4px;
}

form textarea {
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 4px;
}
.form-name {
    margin-right: 2rem;
}

.form-name input, .form-email input {
    width: 310px;
}
.form-flex {
    display: flex;
    flex-direction: column;
}

.btn-form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.btn-form input {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: #c3e2fa;
    border-radius: 10px;
}

/*Message*/

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}

.message a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #3054f2;
    font-size: 18px;
    margin: 1rem;
}